<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Commission Records </h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Insurance Ac/No</th>
                <th scope="col">Agent</th>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Insurance Scheme</th>
                <th scope="col">Payment Amount</th>            
                
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td>1</td>
                <td>Ujjay</td>
                <td>15/06/202</td>
                <td>Dinesh</td>                
                <td>Health plus Life Insurance</td> 
                <td>5600</td> 
            </tr>
            <tr class="">

                <td></td>
                <td></td>
                <td></td>
                <td></td> 
                <th class="font-weight-bold">Total </th>
                <th class="font-weight-bold">Rs. 5600</th>                               
            </tr>

        </tbody>
    </table>
</div>


