<section>
    <div class="image">
        <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
    </div>

    <div class="content">
        <h2>About Us</h2>
        <span>
            <!-- line here -->
        </span>
       Company Profile <br>
            E-INSURANCE <br>
            Trusted Since 1906

        <h3> Mission:</h3>

        To be the most preferred choice of customers for General Insurance by building Relationships and grow
        profitably.
        <h3> Vision:</h3>

        <ul>
            <li>
                Leveraging technology to integrate people and processes.
            </li>
            <li>To excel in service and performance.</li>
            <li>To uphold the highest ethical standards in conducting our business.</li>
        </ul>
        
        
        

        <ul class="links">
            <li><a href="#">work</a></li>
            <div class="vertical-line"></div>
            <li><a href="#">service</a></li>
            <div class="vertical-line"></div>
            <li><a href="#">contact</a></li>
        </ul>


    </div>
</section><br><br>