<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Change Pasword </h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">

    <h1>lllllll</h1>
    <div class="col-auto border">
        <form  [formGroup]="updatePasswordForm">
            <table class="table table-striped p-4">
                <tbody>
                    <tr>
                        <th class="border" scope="row">Current Password</th>
                        <td><input type="password" class="form-control" formControlName="oldPassword">
                            <span style="color: red;"
                                *ngIf="OldPassword && OldPassword.invalid && OldPassword.touched">Password
                                Required</span>
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">New Password</th>
                        <td><input type="password" class="form-control" formControlName="newPassword">
                            <span style="color: red;"
                                *ngIf="NewPassword && NewPassword.invalid && NewPassword.touched">New Password
                                Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Confirm Password</th>
                        <td><input type="password" class="form-control" formControlName="confirmNewPassword">
                            <span style="color: red;"
                                *ngIf="ConfirmNewPassword && ConfirmNewPassword.invalid && ConfirmNewPassword.touched">Confirm Password 
                                Required</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-danger" [disabled]="updatePasswordForm.invalid" >Change Password</button>
        </form>
    </div>
</div>
 
