<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Insurance Type</h1>
    </div>
</div>

<div class="container border rounded">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Insurance Type </th>
            <th scope="col">Status</th>            
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let insuranceType of insuranceTypesList">
            <th scope="row">{{insuranceType.insuranceName}}</th>
            <td>{{insuranceType.status}}</td>                       
            <td ><a class="btn btn-info text-light" (click)="GoToEditInsuranceTypePage(insuranceType.id)">Edit</a>
          </tr>        
          
        </tbody>
      </table>
</div>
