<div class="container align-items-center p-4 text-center my-5"
    style="border-radius: 30px; background-color: #f5f5f5;">
    <p class="text-center h1 fw-bold ">Editing Insurance Type</p>
    <form [formGroup]="insuranceType" class="mx-1" style="margin-top:50px ;">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-user fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Insrance Type</label>
                        <input type="text" class="form-control" formControlName="insuranceName">
                        <span style="color: red;"
                            *ngIf="InsuranceType && InsuranceType.invalid && InsuranceType.touched">Insurance Type
                            Required</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-file fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Image</label>
                        <input type="file" class="form-control">
                        <span style="color: red;" *ngIf="Image && Image.invalid && Image.touched">Image
                            Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">

            <div class="d-flex flex-row align-items-center mt-3">
                <!-- <i class="fa fa-area-chart fa-lg me-3 fa- mb-5"></i> -->
                <div class="form-group form-outline flex-fill mb-0">
                    <label class="form-label">Select Status</label>
                    <select name="Status" class="form-control" formControlName="status">
                        <option value="">Select Status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched "> Status
                        Required</span>

                </div>
            </div>
        </div>

        <button class="btn btn-info text-light my-4" [disabled]="insuranceType.invalid">Submit</button>
    </form>
</div>