<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Customer Documents </h1>
        <p>Upload the Documents</p>
    </div>
</div>
<div class="container container-fluid col-sm-6 border bg-light">
    <table class="table table-striped">
        <tbody class="">
            <th>Document Type: </th>
            <th><select name="document type" formControlName="documenttype">
                    <option value="Active">Aadhar card</option>
                    <option value="Inactive">Pan Card</option>
                </select></th>
        </tbody>
        <tbody class="">
            <th>Document : </th>
            <th><input type="file"></th>
        </tbody>

        <button class="btn btn-danger col-sm-6 border">Submit</button>
    </table>
</div>
<br><br>
<div class="container container-fluid col-sm-6 border bg-light">

    <table class="table table-striped p-4">
        <tbody>
            <tr>
                <th class="border" scope="row">Document Type</th>
                <th class="border" scope="row">Document Path</th>
                <th class="border" scope="row">Action</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th class="border" scope="row">Aadhar Card</th>
                <th class="border" scope="row"> <a href="" style="color: red;"> Download </a></th>
                <th class="border" scope="row"><a href="" style="color: red;"> Delete</a></th>
            </tr>
        </tbody>

    </table>
</div>