<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1>Edit Customer Profile</h1>
    </div>
</div>
<div></div>

<div class="container">
    <form [formGroup]="customer">
        <table class="table p-4 table-striped">
            
            <tbody>
                <tr>
                    <th class="border" scope="row">Customer Name</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="name">
                        <span style="color: red;" *ngIf="Name && Name.invalid && Name.touched ">
                            Name Required</span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Date Of Birth</th>
                    <td class="">
                        <input type="text" class="form-control" formControlName="dateOfBirth">
                        <span style="color: red;" *ngIf="Date && Date.invalid && Date.touched ">
                            Date of Birth Required</span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Customer Login Id</th>
                    <td> <input type="text"  class="form-control" formControlName="loginId">
                        <span style="color: red;" *ngIf="LoginId && LoginId.invalid && LoginId.touched ">
                            Log in Id Required</span>
                    
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Address</th>
                    <td> <textarea class="form-control z-depth-1"
                         id="exampleFormControlTextarea6" rows="3" 
                           formControlName='address'></textarea>

                           <span style="color: red;" *ngIf="Address && Address.invalid && Address.touched ">
                            Address Required</span>
                    
                    </td>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <th class="border" scope="row">Email-Id</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="email">
                        <span style="color: red;" *ngIf="Email && Email.invalid && Email.touched ">
                            Email Required</span>
                    </td>
                </tr>
            </tbody>
            <!-- <tbody>
                <tr>
                    <th class="border" scope="row">State</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="state">
                        <span style="color: red;" *ngIf="State && State.invalid && State.touched ">
                            State Required</span>
                    </td>
                </tr>
            </tbody> -->
            <tbody>
                <tr>
                    <th class="border" scope="row">State</th>
                    <td class="">
                        <select name="Status" formControlName="state" (change)="GenerateCityList($event.target)">
                            <option value="">Select State</option>
                            <option value="{{state.stateName}}" *ngFor="let state of states">{{state.stateName}}</option>
                            <!-- <option value="Inactive">Inactive</option> -->
                        </select>
                        <span style="color: red;" *ngIf="State && State.invalid && State.touched ">
                            State Required</span>
                    </td>
                </tr>
            </tbody>
            <!-- <tbody>
                <tr>
                    <th class="border" scope="row">City</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="city">
                        <span style="color: red;" *ngIf="City && City.invalid && City.touched ">
                            City Required</span>
                    </td>
                </tr>
            </tbody> -->
            <!-- <tbody>
                <tr>
                    <th class="border" scope="row">City</th>
                    <td class="">
                        <input type="text" name="city" formControlName="city"/>
                           
                        <span style="color: red;" *ngIf="City && City.invalid && City.touched ">
                            City Required</span>
                    </td>
                </tr>
            </tbody> -->
            <tbody>
                <tr>
                    <th class="border" scope="row">City</th>
                    <td class="">
                        <select name="city" formControlName="city">
                            <option [ngValue]="currentCity" selected disabled>{{currentCity}}</option>
                            <option value="{{city}}" *ngFor="let city of cities">{{city}}</option>
                           
                        </select>
                        <span style="color: red;" *ngIf="City && City.invalid && City.touched ">
                            City Required</span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Pin Code</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="pinCode">
                        <span style="color: red;" *ngIf="PinCode && PinCode.invalid && PinCode.touched ">
                            PinCode Required</span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Mobile No</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="mobileNumber">
                        <span style="color: red;" *ngIf="Mobile && Mobile.invalid && Mobile.touched ">
                            Mobile Number Required</span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Nominee</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="nomineeName">
                        <span style="color: red;" *ngIf="Nominee && Nominee.invalid && Nominee.touched ">
                            Nominee Required</span>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Nomminee Relationship</th>
                    <td class="">
                        <input type="text"  class="form-control" formControlName="nomineeRelation">
                        <span style="color: red;" *ngIf="NomineeRelation && NomineeRelation.invalid && NomineeRelation.touched ">
                            NomineeRelation Required</span>
                    </td>
                </tr>
            </tbody>

            <!-- <tbody>
                <tr>
                    <th class="border" scope="row">Status</th>
                    <td class="">
                        <select name="Status" formControlName="status">
                            <option value="">Select Status</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched "> Status
                            Required</span>
                    </td>
                </tr>
            </tbody> -->
            
            
        </table>
    </form>
    <div style="text-align: center; margin:20px;" class="container">
        <button class="btn btn-danger text-center" routerLink="/customerdashboard">Back</button>
        <button class="btn btn-danger text-center m-2" (click)="UpdateData()" [disabled]="customer.invalid">Update</button>
    </div>
</div>