<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Commision Withdrawls</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Request Date</th>
                <th scope="col">Particulars</th>

                <th scope="col">Withdrawn Amount</th>
                <th scope="col">Status</th>
                
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">18/06/2022</th>
                <td>AD</td>
                <td>1800</td>
                <td>Success</td>
                              
            </tr>

        </tbody>
        <tbody>
            <tr>
                <th scope="row"></th>                
                <th>Total</th>                
                <th>1800</th>
                
            </tr>

        </tbody>
    </table>
</div>