<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Commision Records </h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Insurance A/C No</th>
                <th scope="col">Agent</th>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Insurance Scheme</th>
                <th scope="col">Commision Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let commissionRecord of commissionsList">
                <td>{{commissionRecord.insuranceAccountId}}</td>
                <td>{{commissionRecord.agentName}}</td>
                <td>{{commissionRecord.purchasedDate}}</td>
                <td>{{commissionRecord.customerName}}</td>
                <td>{{commissionRecord.insuranceScheme}}</td>
                <td> &#8377; {{commissionRecord.commissionAmount}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total</b></td>
                <td> <b> &#8377; {{totalAmount}}</b></td>
            </tr>

        </tbody>
    </table>
</div>