<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Commision Records </h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Insurance A/C No</th>
                <th scope="col">Agent</th>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Insurance Scheme</th>
                <th scope="col">Commision Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>P5</td>
                <td>Dinesh</td>
                <td>12/06/2022</td>
                <td>Ujjay Hirbhagat</td>
                <td>Super Term Plan</td>
                <td>4500</td>
            </tr>

        </tbody>
    </table>
</div>