<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Insurance Plan</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>                
                <th scope="col">Insurance Type</th>
                <th scope="col">Insurance Scheme</th>
                <th scope="col">Insurance Plan</th>
                <th scope="col">Policy Term Min</th>
                <th scope="col">Policy Term Max</th>
                <th scope="col">Min Age</th>
                <th scope="col">Min Age</th>

                <th scope="col">Sum Assured Min</th>
                <th scope="col">Sum Assured Max</th>
                <th scope="col">Profit Ratio</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let insurancePlan of insurancePlansList">
                
                <td>{{insurancePlan.insuranceType}}</td>
                <td>{{insurancePlan.insuranceScheme}}</td>
                <td>{{insurancePlan.insurancePlanName}}</td>
                <td>{{insurancePlan.minimumYears}}</td>
                <td>{{insurancePlan.maximumYears}}</td>
                <td>{{insurancePlan.minimumAge}}</td>
                <td>{{insurancePlan.maximumAge}}</td>
                <td>{{insurancePlan.minimumInvestAmt}}</td>
                <td>{{insurancePlan.maximumInvestAmt}}</td>
                <td>{{insurancePlan.profitRatio}}%</td>
                <td>{{insurancePlan.status}}</td> 
                <td><a routerLink="/editinsuraneplan" style="color:red">Edit</a></td>
            </tr>

        </tbody>
    </table>
</div>