<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1>View Insurance Account Details</h1>
    </div>
</div>

<div class="container border rounded">
    <h5 class="text-center my-2">Customer Details</h5>
    <table class="table table-striped">        
        <thead>
            <tr>                
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Address</th>
                <th scope="col">Email Id</th>
                <th scope="col">Customer Mobile number</th>
                <th scope="col">login id</th>
               
                               
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="customerDetails">                
                <td>{{customerDetails.name}}</td>
                <td>{{customerDetails.address}}</td>
                <td>{{customerDetails.email}}</td> 
                <td>{{customerDetails.mobileNumber}}</td> 
                <td>{{customerDetails.loginId}}</td>   
            </tr>
        </tbody>
    </table>
<br>
<h5 class="text-center my-2">Account Details</h5>
    <table class="table table-striped">        
        <thead>
            <tr>                
                <th scope="col">Account Number</th>
                <th scope="col">Insurance Type</th>
                <th scope="col">Insurance Scheme</th>
                <th scope="col">Date Created</th>
                <th scope="col">Date Maturity</th>
                <th scope="col">Premium Type</th>            
                               
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="insuranceAccountDetails">                
                <td>{{insuranceAccountDetails.accountNumber}}</td>
                <td>{{insuranceAccountDetails.insuranceType}}</td>
                <td>{{insuranceAccountDetails.insuranceScheme}}</td> 
                <td>{{insuranceAccountDetails.dateCreated | date}}</td> 
                <td>{{insuranceAccountDetails.maturityDate | date}}</td> 
                <td>{{insuranceAccountDetails.premiumType}} months</td>   
            </tr>
        </tbody>
    </table>
    <br>
    <h5 class="text-center my-2">Premium Details</h5>
    <table class="table table-striped">        
        <thead>
            <tr>                
                <th scope="col">Total Premium Amount</th>
                <th scope="col">Profit Ratio</th>
                <th scope="col">Sum Assured</th>                 
                               
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="insuranceAccountDetails">                
                <td>{{insuranceAccountDetails.investmentAmount}}</td>
                <td>{{insuranceAccountDetails.profitRatio}}</td> 
                <td>{{insuranceAccountDetails.totalAmount}}</td> 
                  
            </tr>
        </tbody>
    </table>
    <h5 class="text-center mt-5">Payment Details</h5>
    <h4><b>Pending Installments : {{insuranceAccountDetails?.pendingInstallments}}</b> </h4>
    <table class="table table-striped" id="pdfTable" #pdfTable>        
        <thead>
            <tr>                
                <th scope="col">Installment Number</th>
                <th scope="col">installement Date</th>
                <th scope="col">Installement Amount</th>    
                <th scope="col">Paid Date</th>    
                <th scope="col">Payment Status</th>    
                <th scope="col">Receipt</th>                          
                               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of paymentsList">                
                <td>{{payment.installmentNumber}}</td>
                <td>{{payment.installmentDate | date}}</td>
                <td>{{payment.installmentAmount}}</td> 
                <td>{{payment.paidDate | date}}</td>
                <td>{{payment.paymentStatus}}</td>
                <td><a routerLink="" onclick="downloadAsPDF()" class="btn btn-info text-light">Download</a> </td>
                  
            </tr>
        </tbody>
    </table>
    <div class="container" *ngIf="isCustomerLogin && !isAllInstallmentsDone">
        <h6 class="my-4">Next Payment</h6>
        <table class="table table-striped" id="pdfTable" #pdfTable>        
            <thead>
                <tr>                
                    <th scope="col">Installment Number</th>
                    <th scope="col">installement Date</th>
                    <th scope="col">Installement Amount</th>    
                    <th scope="col">Paid Date</th>    
                    <th scope="col">Payment Status</th>    
                    <th scope="col">Receipt</th>                          
                                   
                </tr>
            </thead>
            <tbody>
                <tr >                
                    <td>{{installmentNumber}}</td>
                    <td>{{nextPayment | date}}</td>
                    <td>{{installmentAmount}}</td> 
                    <td></td>
                    <td>Pending</td>
                    <td><a  class="btn btn-info text-light" (click)="GoToPaymentPage()">Pay</a> </td>
                      
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container" *ngIf="isAllInstallmentsDone">
            <div style="text-align: center; margin-bottom:20px;">
                <button class="btn btn-success" [disabled]="insuranceAccountDetails.policyStatus=='Requested'" (click)="SendPolicyClaimRequest(customerDetails.customerId,insuranceAccountDetails.accountNumber)">Claim Policy</button>
            </div>
    </div>
    <div class="container ">
        <div style="text-align: center; margin-bottom:20px;">
            <button class="btn btn-info text-light" routerLink="/customerdashboard" (click)="GoDashboard()">Back</button>
        </div>
    </div>
</div>



