<div class="container " id="pdfTable" #pdfTable>
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Customers Records</h1>
    </div>


    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Cust DOB</th>
                    <th scope="col">Login Id</th>
                    <th scope="col">Address</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Nominee</th>
                    <th scope="col">Nominee Relation</th>
                    <th scope="col">Status</th>
                    <th scope="col"> Documents</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customersList">
                    <th scope="row">{{customer.name}}</th>
                    <td>{{customer.dateOfBirth}}</td>
                    <td>{{customer.loginId}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.mobileNumber}}</td>
                    <td>{{customer.nomineeName}}</td>
                    <td>{{customer.nomineeRelation}}</td>
                    <td>{{customer.status}}</td>
                    <td><a routerLink="/agentviewdocuments" style="color:red">View Documents</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <p>Download as </p>
    <button class="btn btn-success" (click)="downloadAsPDF();">Pdf</button>
</div>