<div class="container col-md-6 align-items-center p-4 text-center mt-5"
    style="border-top-left-radius: 30px;border-top-right-radius: 20px; background-color: #f5f5f5;">
    <p class="text-center h1 fw-bold ">Edit Employee Record</p>

    <form [formGroup]="employeeForm">
        <div class="row">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="row">
            <label for="" class="form-label">Login Id</label>
            <input type="text" class="form-control" formControlName="loginId">

        </div>
        <div class="row">
            <label for="" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">

        </div>
        <div class="row">
            <label for="" class="form-label">Status</label>
            <select class="form-control" formControlName="userRoll">
                <option value="" disabled>Select UserRoll</option>
                <option value="Admin">Admin</option>
                <option value="Employee">Employee</option>
            </select>
        </div>
        
        <div class="container ">
            <div style="text-align: center; margin-bottom:20px;">
                <button class="btn  btn-info text-light" [disabled]="employeeForm.invalid"
                    (click)="UpdateEmployee()">Update</button>
            </div>
        </div>
    </form>
</div>