.navbar .navbar-nav .nav-link:hover {
  background-color: #76d1f2;
  color: #fff;
  border-radius: 10px;
  }
  
  a{
    color: black;
   
    cursor: pointer;
  }
  .cursor-pointer{
    cursor: pointer;
  }