.navbar .navbar-nav .nav-link:hover {
    background-color:chocolate;
    color:black;
  }
  .empNav{
    margin-left: 650px;
  }
  a{
    color: black;
    margin-left: 5px;
  }
  .cursor-pointer{
    cursor: pointer;
  }