<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <div class="container mb-4">
        <div class="service">
            <h1>Our <span> Services</span></h1>
            <p>
                Use our Services
            </p>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-solid fa-list-ul"></i>

                    <h3>keyword <span> Research</span></h3>
                    <p>Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum vvLoren Ipsum  Loren Ipsum vLoren Ipsum</p>
                    <a href="">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-line-chart"></i>

                    <h3>keyword <span> Research  </span></h3>
                    <p>Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum vvLoren Ipsum  Loren Ipsum vLoren Ipsum</p>
                    <a href="">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-user"></i>

                    <h3>keyword <span> Research</span></h3>
                    <p>Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum vvLoren Ipsum  Loren Ipsum vLoren Ipsum</p>
                    <a href="">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-solid fa-list-ul"></i>

                    <h3>keyword <span> Research</span></h3>
                    <p>Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum vvLoren Ipsum  Loren Ipsum vLoren Ipsum</p>
                    <a href="">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-line-chart"></i>

                    <h3>keyword <span> Research  </span></h3>
                    <p>Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum vvLoren Ipsum  Loren Ipsum vLoren Ipsum</p>
                    <a href="">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-user"></i>

                    <h3>keyword <span> Research</span></h3>
                    <p>Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum Loren Ipsum vvLoren Ipsum  Loren Ipsum vLoren Ipsum</p>
                    <a href="">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
