<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Commision Records</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Insurance Acc. No</th>
                <th scope="col">Agent</th>

                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Insurance scheme</th>
                <th scope="col">Commision Amount</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">123</th>
                <td>AD</td>
                <td>18/06/2022</td>
                <td>Dinesh</td>
                <td>Safety Plan</td>                
                <td>1234</td>
                
            </tr>

        </tbody>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <th>Total</th>                
                <th>1234</th>
                
            </tr>

        </tbody>
    </table>
</div>