<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Insurance Setting</h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">
    <div class="col-auto border">
        <table class="table table-striped p-4">
            <tbody>
                <tr>
                    <th class="border" scope="row">Claim Deduction: <br> (in percentage) </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>  
            <tbody>
                <tr>
                    <th class="border" scope="row">Penality Amount: <br> (in percentage) </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger">Update ...</button>
    </div>
</div>
