<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Send Mail</h1>
    </div>
</div>

<div class="container bg-light">
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Subject</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Message</label>
        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..." formControlName='note'>

        </textarea>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Refreal Link</label>
        <input type="text" class="form-control" id="exampleInputPassword1">
      </div>
    <button type="submit" class="btn btn-primary">Send</button>    
  </form>
</div>

