<body>
    

<div class="container">
    <div style="text-align: center; margin-bottom:20px;" class="mt-4">
        <h1>Employee Dashboard</h1>
        <p>View Records</p>
    </div>
    <div class="container mt-4 mb-4">
        <div class="row text-center">
            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/agent.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/viewagent" class="text-reset">
                            <p>Agent</p>                            
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/employee.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/viewemployee" routerLinkActive="router-link-active" class="text-reset">
                            <p>Employee</p>
                            
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                        <img src="assets/target.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/viewcustomers" routerLinkActive="router-link-active" class="text-reset" style="cursor: pointer;">
                            <p>Customers</p>
                          
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/documents.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/empdashboard" class="text-reset" style="cursor: pointer;">
                            <p>Customers Doc</p>                          
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/City1.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/viewcity" routerLinkActive="router-link-active" class="text-reset">
                            <p>Cities<p>
                                
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/usa.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/viewstate" routerLinkActive="router-link-active" class="text-reset">
                            <p>States<p>
                                
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/plan.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/viewinsuranceplan" class="text-reset">
                            <p>Insurance Plans</p>
    
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light">
                        <img src="assets/scheme.png" class="w-40" height="60" />
                    </div>
                    <div class="card-body">
                        <a routerLink="/viewinsurancescheme" class="text-reset">
                            <p>insurance schemes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>