<div class="container align-items-center p-4 text-center mt-5"
    style="border-top-left-radius: 30px;border-top-right-radius: 20px; background-color: #f5f5f5;">
    <p class="text-center h1 fw-bold ">Adding Employee Record</p>


    <form [formGroup]="employee" class="mx-1" style="margin-top: 50px;">

        
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-user fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Employee Type</label>
                        <select name="Status" class="form-control" formControlName="userRoll">
                            <option value="">Select Employee Type</option>
                            <option value="Admin">Admin</option>
                            <option value="Employee">Employee</option>
                        </select>
                        <span style="color: red;" *ngIf="EmployeeType && EmployeeType.invalid && EmployeeType.touched">
                            EmployeeType Required</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-id-badge fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Employee Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <span style="color: red;" *ngIf="EmployeeName && EmployeeName.invalid && EmployeeName.touched ">
                            EmployeeName Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-user fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Login Id</label>
                        <input type="text" class="form-control" formControlName="loginid">
                        <span style="color: red;" *ngIf="LoginId && LoginId.invalid && LoginId.touched ">
                            LoginId Required</span>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-id-badge fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" formControlName="email">
                        <span style="color: red;" *ngIf="Email && Email.invalid && Email.touched ">
                            Email Required</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-user fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                        <span style="color: red;" *ngIf="Password && Password.invalid && Password.touched ">
                            Password Required</span>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-id-badge fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword">
                        <span style="color: red;"
                            *ngIf="ConfirmPassword && ConfirmPassword.invalid && ConfirmPassword.touched ">
                            ConfirmPassword Required</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mx-auto">

            <div class="d-flex flex-row align-items-center mt-3">
                <!-- <i class="fa fa-area-chart fa-lg me-3 fa- mb-5"></i> -->
                <div class="form-group form-outline flex-fill mb-0">
                    <label class="form-label">Select Status</label>
                    <select name="Status" class="form-control" formControlName="userStatus">
                        <option value="">Select Status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched "> Status
                        Required</span>

                </div>
            </div>
        </div>


        <div class="container ">
            <div style="text-align: center; margin-bottom:20px;">
                <button class="btn btn-primary" [disabled]="employee.invalid" (click)="AddUser()">Submit</button>
            </div>
        </div>
    </form>
</div>