<div class="container col-md-6 align-items-center p-4 text-center mt-5"
    style="border-top-left-radius: 30px;border-top-right-radius: 20px; background-color: #f5f5f5;">
    <h1 style="font-family: cursor;"> Update City</h1>
    <h4 style="font-family: cursor;">Kindly enter the Credentials</h4>




    <form [formGroup]="city">

        <div class="row">
            <label for="" class="form-label">Select State</label>
            <select name="Status" class="form-control" formControlName="state">
                <option value="">Select State</option>
                <option value="{{state.stateName}}" *ngFor="let state of statesList">{{state.stateName}}</option>

            </select>
            <span style="color: red;" *ngIf="State && State.invalid && State.touched">State Required</span>
        </div>
        <div class="row">
            <label for="" class="form-label">City</label>
            <input type="text" class="form-control" formControlName="cityName">
            <span style="color: red;" *ngIf="CityName && CityName.invalid && CityName.touched">City Name
                Required</span>
        </div>
        <div class="row">
            <label for="" class="form-label">Status</label>
            <select name="Status" class="form-control" formControlName="status">
                <option value="">Select Status</option>
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
            </select>
            <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched">Status
                Required</span>
        </div>

    </form>
    <button class="btn btn-info text-light mt-4" [disabled]="city.invalid" (click)="UpdateCity()">Update</button>

</div>