<div class="container border mt-4 shadow-lg p-3 mb-5 bg-white" style="border-radius: 15px;">

    <div class="row text-center my-5">
        <div class="col-md-12">
            <h2>Your Account Is Blocked Please Contact To Customer Care 1800 800 1199</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 mx-auto">
            <img src="assets/unauthorized.png" alt="" style="width: 60%;">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 mx-auto">
            <button routerLink="/" class="btn btn-info text-light">Home</button>
        </div>
    </div>
</div>