<div class="container ">
    <div class="align-center"></div>
   <h1>Customer View Feedback</h1>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Customer</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Contact Date</th>
            <th scope="col">Reply</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let query of queriesList?.reverse()">
            <th scope="row">{{query.customerName}}</th>
            <td>{{query.title}}</td>
            <td>{{query.message}}</td>
            <td>{{query.contactDate}}</td>
            <td>{{query.reply}}</td>
          </tr>        
          
        </tbody>
      </table>
</div>
