<div class="container me-3 mb-4">
    <div class="row">
        <div class="col-md-3 mt-4 p-0">
            <img class="float-right" style="border-radius: 100%;" src="http://localhost:5137/{{imageUrl}}" alt="insurance type image" width="200" height="200">
        </div>
        <div class="col-md-4 mt-5 p-0">
            <h1 style="float: left;  font-family: 'Courier New', Courier, monospace;">{{insuranceType}} Plans</h1>
        </div>
    </div>   

</div>

<div class="container-fluid m-0">
   
</div>
<div class="container border shadow  mb-5 bg-white rounded" *ngFor="let insuranceScheme of insurancePlans">
    
        <h4 class="p-2">{{insuranceScheme.insuranceScheme}}</h4>
    
    <img class="float-left kite" src="assets/kite.png">
    <div class="row g-3 p-3" >
        <div class="col-sm-7  info policy-info first-column">
            <a (click)="GoToInsurancePlanDetails(insuranceScheme.insurancePlanName,insuranceScheme.insuranceScheme)" style="cursor: pointer;">
                    <!-- <img src="http://localhost:5137/{{insuranceScheme.image}}" alt="insurance image" width="200" height="100"> -->
                <h2 style="color: blue;">{{insuranceScheme.insurancePlanName}}</h2>
            </a>
            <br>
           <b><p>{{insuranceScheme.note}}</p></b>
        </div>
        <div class="col-sm info policy-info">
            <span style="font-weight:bold ; color:blue"> Key Features </span> <br>

            <span style="font-weight:bold; color: blue;"> Annual Premium Range</span> <br>
           <b> {{insuranceScheme.minimumInvestAmt}} &#8377; to {{insuranceScheme.maximumInvestAmt}} &#8377; </b> <br>
            Entry Age <br>
           <b>{{insuranceScheme.minimumAge}} </b> Years To
           <b>{{insuranceScheme.maximumAge}}</b>   Years
        </div>
        <div class="col-sm policy-info ">
            <span style="font-weight:bold ; color:blue"> Key Benefits </span><br>

            <ul>
               <b>Profit Ratio : {{insuranceScheme.profitRatio}}</b>
            </ul>

        </div>
    </div>
</div>
<!-- <div class="container border shadow p-3 mb-5 bg-white rounded">
    <img class="float-left kite" src="assets/kite.png">
    <div class="row g-3 p-3">
        <div class="col-sm-7  info policy-info first-column">
                <a href="#!">
                    <h2 style="color: blue;">Arogya Shield</h2>
                </a>
           
            Secure both Health & Life with Arogya Shield <br>
            –a health plus life combi product that <br> offers you a comprehensive health cover
            for medical emergencies and an assured <br> life cover to secure your loved ones.
        </div>
        <div class="col-sm info policy-info">
            <span style="font-weight:bold ; color:blue"> Key Features </span> <br>

            <span style="font-weight:bold; color: blue;"> Annual Premium Range</span> <br>
            Rs 1,415 to Rs 1,01,025 <br>
            Entry Age <br>
            18 years
        </div>
        <div class="col-sm policy-info">
            <span style="font-weight:bold ; color:blue"> Key Benefits </span><br>

            <ul>
                <li>Standard Term plan with Simple terms & conditions</li>
                <li>Multiple premium payment options</li>
            </ul>

        </div>
    </div>
</div>
<div class="container border shadow p-3 mb-5 bg-white rounded">
    <img class="float-left kite" src="assets/kite.png">
    <div class="row g-3 p-3">
        <div class="col-sm-7  info policy-info first-column">
            <a href="#!">
                <h2 style="color: blue;">Arogya Shield</h2>
            </a>
            Secure both Health & Life with Arogya Shield <br>
            –a health plus life combi product that <br> offers you a comprehensive health cover
            for medical emergencies and an assured <br> life cover to secure your loved ones.
        </div>
        <div class="col-sm info policy-info">
            <span style="font-weight:bold ; color:blue"> Key Features </span> <br>

            <span style="font-weight:bold; color: blue;"> Annual Premium Range</span> <br>
            Rs 1,415 to Rs 1,01,025 <br>
            Entry Age <br>
            18 years
        </div>
        <div class="col-sm policy-info">
            <span style="font-weight:bold ; color:blue"> Key Benefits </span><br>

            <ul>
                <li>Standard Term plan with Simple terms & conditions</li>
                <li>Multiple premium payment options</li>
            </ul>

        </div>
    </div>
</div> -->
<!-- <router-outlet></router-outlet> -->