<div class="container me-3">
    <h1>{{insuranceType}} Plans
        <img class="float-right" src="assets/protection.png" alt="">
    </h1>

</div>
<div class="container border shadow p-3 mb-5 bg-white rounded" *ngFor="let insuranceScheme of insuranceSchemes">
    <img class="float-left kite" src="assets/kite.png">
    <div class="row g-3 p-3" >
        <div class="col-sm-7  info policy-info first-column">
            <a routerLink="/arogyashield" >
                <h2 style="color: blue;">{{insuranceScheme.insuranceSchemeName}}</h2>
            </a>
            <br>
           <b><p>{{insuranceScheme.note}}</p></b>
        </div>
        <div class="col-sm info policy-info">
            <span style="font-weight:bold ; color:blue"> Key Features </span> <br>

            <span style="font-weight:bold; color: blue;"> Annual Premium Range</span> <br>
            Rs 1,415 to Rs 1,01,025 <br>
            Entry Age <br>
            18 years
        </div>
        <div class="col-sm policy-info ">
            <span style="font-weight:bold ; color:blue"> Key Benefits </span><br>

            <ul>
                <li>Standard Term plan with Simple terms & conditions</li>
                <li>Multiple premium payment options</li>
            </ul>

        </div>
    </div>
</div>
<!-- <div class="container border shadow p-3 mb-5 bg-white rounded">
    <img class="float-left kite" src="assets/kite.png">
    <div class="row g-3 p-3">
        <div class="col-sm-7  info policy-info first-column">
                <a href="#!">
                    <h2 style="color: blue;">Arogya Shield</h2>
                </a>
           
            Secure both Health & Life with Arogya Shield <br>
            –a health plus life combi product that <br> offers you a comprehensive health cover
            for medical emergencies and an assured <br> life cover to secure your loved ones.
        </div>
        <div class="col-sm info policy-info">
            <span style="font-weight:bold ; color:blue"> Key Features </span> <br>

            <span style="font-weight:bold; color: blue;"> Annual Premium Range</span> <br>
            Rs 1,415 to Rs 1,01,025 <br>
            Entry Age <br>
            18 years
        </div>
        <div class="col-sm policy-info">
            <span style="font-weight:bold ; color:blue"> Key Benefits </span><br>

            <ul>
                <li>Standard Term plan with Simple terms & conditions</li>
                <li>Multiple premium payment options</li>
            </ul>

        </div>
    </div>
</div>
<div class="container border shadow p-3 mb-5 bg-white rounded">
    <img class="float-left kite" src="assets/kite.png">
    <div class="row g-3 p-3">
        <div class="col-sm-7  info policy-info first-column">
            <a href="#!">
                <h2 style="color: blue;">Arogya Shield</h2>
            </a>
            Secure both Health & Life with Arogya Shield <br>
            –a health plus life combi product that <br> offers you a comprehensive health cover
            for medical emergencies and an assured <br> life cover to secure your loved ones.
        </div>
        <div class="col-sm info policy-info">
            <span style="font-weight:bold ; color:blue"> Key Features </span> <br>

            <span style="font-weight:bold; color: blue;"> Annual Premium Range</span> <br>
            Rs 1,415 to Rs 1,01,025 <br>
            Entry Age <br>
            18 years
        </div>
        <div class="col-sm policy-info">
            <span style="font-weight:bold ; color:blue"> Key Benefits </span><br>

            <ul>
                <li>Standard Term plan with Simple terms & conditions</li>
                <li>Multiple premium payment options</li>
            </ul>

        </div>
    </div>
</div> -->
<!-- <router-outlet></router-outlet> -->