<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Dashboard</h1>
        <p>View Records</p>
    </div>
</div>

<div class="container mt-4 p-0">
    <div class="row text-center">
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/agent.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a routerLink="/viewagent" class="text-reset">
                        <p>Agent</p>
                        
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/agent.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a [routerLink]="['/viewemployee']" routerLinkActive="router-link-active" class="text-reset">
                        <p>Emloyees<p>
                            
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/customers.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Customers</p>
                        
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/account.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Insurance Accounts</p>
                        
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/city.jpg" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Cities</p>                        
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/state.png" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>States</p>
                        
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/insplans.png" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>Insurance Plans</p>
                       
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="assets/insschemes.png" class="w-40" height="60" />
                </div>
                <div class="card-body">
                    <a href="" class="text-reset">
                        <p>insurance schemes</p>                        
                    </a>
                </div>
            </div>
        </div>
       
    </div>
</div>

<router-outlet></router-outlet>