<div class="container ">
    <div class="align-center"></div>
   <h1> View Feedback</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Customer</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Contact Date</th>
            <th scope="col">Reply</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">xyz</th>
            <td>Query</td>
            <td>About Insurance</td>
            <td>2022/06/10</td>
            <td><input type="text" name="" id="" placeholder="Reply"></td>
            <td ><a href="" style="color:red">Edit</a>| <a href="" style="color:red">delete</a></td>
          </tr>        
          
        </tbody>
      </table>
</div>
