<div class="container ">
    <div class="align-center"></div>
   <h1> View Feedback</h1>
</div>

<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Customer</th>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
            <th scope="col">Contact Date</th>
            <th scope="col">Reply</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let query of queriesList">
            <th scope="row">{{query.customerName}}</th>
            <td>{{query.title}}</td>
            <td>{{query.message}}</td>
            <td>{{query.contactDate}}</td>
            <!-- <td><input type="text" [(ngModel)]="adminReply"  placeholder="Reply"></td> -->
            <td><input type="text" #reply  placeholder="Reply"></td>
            <td ><button class="btn btn-info text-light"  (click)="SolveQuery(query,reply.value)">Post</button></td>
          </tr>   
        </tbody>
      </table>
</div>
