<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Insurance Scheme</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image </th>
                <th scope="col">Insurance Type</th>
                <th scope="col">Agent Commision</th>
                <th scope="col">Insurance Scheme and Note</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><img src="assets/ins2.jpg" alt="" width="70" /></th>
                <td>Pretection Plan</td>
                <td>Commision for new Payment 15.0% <br>
                    Commision for installment payment 7.0%</td>
                <td>Cancer Protection Plan <br> loren Ipsum loren Ipsum loren Ipsum loren Ipsum loren Ipsum
                </td>
                <td>Active</td>
                <td><a href="" style="color:red">Edit</a>| <a href="" style="color:red">delete</a></td>
            </tr>

        </tbody>
    </table>
</div>