<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Insurance Scheme</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image </th>
                <th scope="col">Insurance Type</th>
                <th scope="col">Agent Commision</th>
                <th scope="col">Insurance Scheme and Note</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let insuranceScheme of insuranceSchemesList">
            <tr>
                <th scope="row"><img [src]="insuranceScheme.image" alt="" width="70" /></th>
                <td>{{insuranceScheme.insuranceSchemeName}}</td>
                <td class="text-center p-3 font-weight-bold"><b> Commision for new Payment {{insuranceScheme.newRegComission}}% <br><hr>
                    Commision for installment payment {{insuranceScheme.installmentComission}}% </b></td>
                <td>{{insuranceScheme.note}}</td>
                <td>{{insuranceScheme.status}}</td>
                <td><a href="" style="color:red">Edit</a>| <a href="" style="color:red">delete</a></td>
            </tr>

        </tbody>
    </table>
</div>