<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> View Commision Withdrawl </h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Request Date</th>
                <th scope="col">Particulars</th>
                <th scope="col">Withdrawn Amount</th>
                <th scope="col">Status</th>
                
            </tr>
        </thead>
        <tbody>
            <tr class="bg-success">

                <td>14/06/2022</td>
                <td><input type="text" placeholder="Paid"></td>
                <td>Rs. 8000</td>
                <td>Active</td>                
            </tr>
            <tr class="">

                <td></td>
                <td class="font-weight-bold">Total Withdrawl Amount</td>
                <td class="font-weight-bold">Rs. 8000</td>
                <td></td>                
            </tr>

        </tbody>
    </table>
</div>
