<div class="container col-md-6 align-items-center p-4 text-center mt-5"
    style="border-top-left-radius: 30px;border-top-right-radius: 20px; background-color: #f5f5f5;">
    <p class="text-center h1 fw-bold ">Add State</p>

    <form [formGroup]="state">

        <div class="row">

            <label for="" class="form-label">State</label>
            <input type="text" class="form-control" formControlName="stateName">
            <span style="color: red;" *ngIf="StateName && StateName.invalid && StateName.touched ">
                State Required</span>
        </div>
        <div class="row">
            <label class="form-lable">Status</label>
            <select name="Status" class="form-control" formControlName="status">
                <option value="">Select Status</option>

                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
            </select>
            <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched ">
                Status Required</span>
        </div>

        <div style="text-align: center; margin-bottom:20px;">
            <button class="btn btn-danger" [disabled]="state.invalid" (click)="UpdateState()">Add</button>

        </div>

    </form>
</div>
