<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1>Customer Profile</h1>
    </div>
</div>
<div></div>

<div class="container">
    <form [formGroup]="customer">
        <table class="table p-4 table-striped">
            <!-- <tbody>
                <tr>
                    <th class="border" scope="row">Customer Id</th>
                    <td> <input type="text" class="form-control" formControlName="custId">
                    
                     <span style="color: red;" *ngIf="CustId && CustId.invalid && CustId.touched">
                        Customer Id Required</span>
                    </td>
                </tr>
            </tbody> -->
            <tbody>
                <tr>
                    <th class="border" scope="row">Customer Name</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="name">
                       
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Date Of Birth</th>
                    <td class="">
                        <input type="input" readonly class="form-control" formControlName="dateOfBirth">
                        
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Customer Login Id</th>
                    <td> <input type="text" readonly class="form-control" formControlName="loginId">
                    
                    
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Address</th>
                    <td> <textarea class="form-control z-depth-1"
                         id="exampleFormControlTextarea6" rows="3" readonly
                           formControlName='address'></textarea>

                    
                    
                    </td>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <th class="border" scope="row">Email-Id</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="email">
                       
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">State</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="state">
                        
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">City</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="city">
                        
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Pin Code</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="pinCode">
                       
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Mobile No</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="mobileNumber">
                       
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Nominee</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="nomineeName">
                       
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Nomminee Relationship</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="nomineeRelation">
                         
                    </td>
                </tr>
            </tbody>

            <!-- <tbody>
                <tr>
                    <th class="border" scope="row">Password</th>
                    <td class="">
                        <input type="password" class="form-control" formControlName="password">
                        <span style="color: red;" *ngIf="Password && Password.invalid && Password.touched ">
                            Password Required</span>
                    </td>
                </tr>
            </tbody> -->
            
            
        </table>
    </form>
    <div style="text-align: center; margin:20px;" class="container">
        <button routerLink="/customerdashboard" class="btn btn-danger text-center">Back</button>
    </div>
</div>