<div class="container align-items-center p-4 text-center my-5"
    style="border-radius: 30px; background-color: #f5f5f5;">
    <p class="text-center h1 fw-bold ">Adding Insurance Plan</p>
    <form [formGroup]="insurancePlan" class="mx-1" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-medkit fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Insurance Type</label>
                        <select name="Status" class="form-control" formControlName="insuranceType"
                            (change)="GenerateInsuranceSchemeList($event.target)">
                            <option value="">Select Insurance Type</option>
                            <option value="{{insuranceType.insuranceName}}"
                                *ngFor="let insuranceType of insuranceTypesList">{{insuranceType.insuranceName}}
                            </option>
                        </select>
                        <span style="color: red;"
                            *ngIf="InsuranceType && InsuranceType.invalid && InsuranceType.touched">Insurance Type
                            Required
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-medkit fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Insurance Scheme</label>
                        <select name="Status" class="form-control" formControlName="insuranceScheme">
                            <option value="">Select Insurance Scheme</option>
                            <option value="{{insuranceScheme.insuranceSchemeName}}"
                                *ngFor="let insuranceScheme of insuranceSchemesList">
                                {{insuranceScheme.insuranceSchemeName}}
                            </option>
                        </select>
                        <span style="color: red;"
                            *ngIf="InsuranceScheme && InsuranceScheme.invalid && InsuranceScheme.touched">Insurance
                            Scheme
                            Required
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-medkit fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Insurance Plan</label>

                        <input type="text" class="form-control" formControlName="insurancePlanName">
                        <span style="color: red;"
                            *ngIf="InsurancePlan && InsurancePlan.invalid && InsurancePlan.touched">Insurance
                            Plan
                            Required
                        </span>

                        <!-- <select name="Status" class="form-control" formControlName="insuranceScheme">
                            <option value="">Select Insurance Scheme</option>
                            <option value="{{insuranceScheme.insuranceSchemeName}}"
                                *ngFor="let insuranceScheme of insuranceSchemesList">
                                {{insuranceScheme.insuranceSchemeName}}
                            </option>
                        </select>
                        <span style="color: red;"
                            *ngIf="InsuranceScheme && InsuranceScheme.invalid && InsuranceScheme.touched">Insurance
                            Scheme
                            Required
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <h1>
                <label class="form-label">Policy Term</label>

            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-sort-numeric-asc fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Minimum Years</label>
                        <input type="text" class="form-control" formControlName="minimumYears">
                        <span style="color: red;"
                            *ngIf="MinimumYears && MinimumYears.invalid && MinimumYears.touched">Minimum Years
                            Required
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-sort-numeric-asc fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Maximum Years</label>
                        <input type="text" class="form-control" formControlName="maximumYears">
                        <span style="color: red;"
                            *ngIf="MaximumYears && MaximumYears.invalid && MaximumYears.touched">Maximum Years
                            Required
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <h1>
                <label class="form-label">Age Criteria</label>

            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-sort-numeric-asc fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Minimum Age</label>
                        <input type="text" class="form-control" formControlName="minimumAge">
                        <span style="color: red;" *ngIf="MinimumAge && MinimumAge.invalid && MinimumAge.touched">Minimum
                            Age
                            Required
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-sort-numeric-asc fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Maximum Age</label>
                        <input type="text" class="form-control" formControlName="maximumAge">
                        <span style="color: red;" *ngIf="MaximumAge && MaximumAge.invalid && MaximumAge.touched">Maximum
                            Age
                            Required
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <h1>
                <label class="form-label">Total Investment Amount</label>

            </h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-sort-numeric-asc fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Minimum investment</label>
                        <input type="text" class="form-control" formControlName="minimumInvestAmt">
                        <span style="color: red;"
                            *ngIf="MinimumInvestAmt && MinimumInvestAmt.invalid && MinimumInvestAmt.touched">Minimum
                            Invest
                            Amount
                            Required
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-sort-numeric-asc fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Maximum Investment</label>
                        <input type="text" class="form-control" formControlName="maximumInvestAmt">
                        <span style="color: red;"
                            *ngIf="MaximumInvestAmt && MaximumInvestAmt.invalid && MaximumInvestAmt.touched">Maximum
                            Invest
                            Amount
                            Required
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-percent fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Profit ratio</label>
                        <input type="text" class="form-control" formControlName="profitRatio">
                        <span style="color: red;"
                            *ngIf="ProfitRatio && ProfitRatio.invalid && ProfitRatio.touched">Profit
                            Ratio
                            Required
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-stop-circle fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-group form-outline flex-fill mb-0">
                        <label class="form-label">Status</label>
                        <select name="Status" class="form-control" formControlName="status">
                            <option value="Active">Active</option>
                            <option value="InActive">InActive</option>
                        </select>
                        <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched">Status Is
                            Required
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <button class="btn btn-info text-light m-5" [disabled]="insurancePlan.invalid"
            (click)="AddInsurancePlan()">Submit</button>
    </form>

</div>