
<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Adding Insurance Plan</h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">
    <div class="col-auto border col-md-6">
        <table class="table table-striped p-4">
            <tbody>
                <tr>
                    <th class="border" scope="row">Insurance Type</th>
                    <td><select name="Status">
                        <option value="Old Age">Old Age</option>
                        <option value="Health">Health</option>
                    </select></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Insurance Scheme</th>
                    <td><input type="text"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Policy Term</th>    
                    <td></td>                  
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Minimum </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Maximum </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <th class="border" scope="row">Age</th> 
                    <td></td>                     
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Minimum </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Maximum </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <th class="border" scope="row">Total Investment Amount</th>
                    <td></td>                   
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Minimum </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Maximum </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>

            <tbody>
                <tr>
                    <th class="border" scope="row">Profit Ratio </th>
                    <td><input type="text"></td>
                </tr>
            </tbody>            
            <tbody>
                <tr>
                    <th class="border" scope="row">Status</th>
                    <td><select name="Status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select></td>
                </tr>
            </tbody>


        </table>
        <button class="btn btn-danger">Submit</button>

    </div>
</div>



