<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Edit Customer </h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">

    <div class="col-auto border">
        <form [formGroup]="customer">
            <table class="table table-striped p-4">   
                <tbody>
                    <tr>
                        <th class="border"  scope="row">Customer Id</th>
                        <td> <input type="text" readonly class="form-control" formControlName="customerId">
                        
                         <span style="color: red;" *ngIf="CustomerId && CustomerId.invalid && CustomerId.touched">
                            Customer Id Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Customer Name</th>
                        <td class="">
                            <input type="text"class="form-control" formControlName="name">
                            <span style="color: red;" *ngIf="Name && Name.invalid && Name.touched ">
                                Customer Name Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Date Of Birth</th>
                        <td class="">
                            <input type="date" class="form-control" formControlName="dateOfBirth">
                            <span style="color: red;" *ngIf="Date && Date.invalid && Date.touched ">
                                Date Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Customer Login Id</th>
                        <td> <input type="text" class="form-control" formControlName="loginId">
                        
                         <span style="color: red;" *ngIf="LoginId && LoginId.invalid && LoginId.touched">
                            Login  Id Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Address</th>
                        <td> <textarea class="form-control z-depth-1"
                             id="exampleFormControlTextarea6" rows="3"
                              placeholder="Write something here..." formControlName='address'></textarea>

                        
                         <span style="color: red;" *ngIf="Address && Address.invalid && Address.touched">
                            Address Required</span>
                        </td>
                    </tr>
                </tbody>


                <tbody>
                    <tr>
                        <th class="border" scope="row">Email-Id</th>
                        <td class="">
                            <input type="text" class="form-control" formControlName="email">
                            <span style="color: red;" *ngIf="Email && Email.invalid && Email.touched ">
                                Email Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">State</th>
                        <td class="">
                            <select name="State" class="form-control" formControlName="state" (change)="GenerateCityList($event.target)">
                                <option value="" disabled>Select State</option>
                                <option value="{{state.stateName}}" *ngFor="let state of states">{{state.stateName}}</option>
                               
                            </select>
                            <span style="color: red;" *ngIf="State && State.invalid && State.touched ">
                                State Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">City</th>
                        <td class="">
                            <select name="City" class="form-control" formControlName="city">
                                <!-- <option value="" disabled>Select City</option> -->
                                <option [ngValue]="currentCity" selected disabled>{{currentCity}}</option>
                                <option value="{{city}}" *ngFor="let city of cities">{{city}}</option>
                                
                            </select>
                            <span style="color: red;" *ngIf="City && City.invalid && City.touched ">
                                City Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Pin Code</th>
                        <td class="">
                            <input type="text"class="form-control" formControlName="pinCode">
                            <span style="color: red;" *ngIf="PinCode && PinCode.invalid && PinCode.touched ">
                                PinCode Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Mobile No</th>
                        <td class="">
                            <input type="text" class="form-control" formControlName="mobileNumber">
                            <span style="color: red;" *ngIf="Mobile && Mobile.invalid && Mobile.touched ">
                                Mobile No. Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Nominee</th>
                        <td class="">
                            <input type="text" class="form-control" formControlName="nomineeName">
                            <span style="color: red;" *ngIf="Nominee && Nominee.invalid && Nominee.touched ">
                                Nominee Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Nomminee Relationship</th>
                        <td class="">
                            <select name="Relation" class="form-control" formControlName="nomineeRelation">
                                <option [ngValue]="currentNomineeRelation" selected disabled>{{currentNomineeRelation}}</option>
                                <option value="Brothe">Brother</option>
                                <option value="Mother">Mother</option>
                                <option value="Father">Father</option>
                                <option value="Sister">Sister</option>
                                <option value="Wife">Wife</option>
                                <option value="Son">Son</option>
                                <option value="Daughter">Daughter</option>
                                <option value="Friend">Friend</option>
                                <option value="Grand Father">Grand Father</option>
                                <option value="Grand Mother">Grand Mother</option>
                                <option value="Cousine">Cousine</option>
                            </select>
                            <span style="color: red;" *ngIf="NomineeRelation && NomineeRelation.invalid && NomineeRelation.touched ">
                                Relation with Nominee Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Status</th>
                        <td><select class="form-control" formControlName="status">
                            <option value="">Select Status</option>
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                            <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched">
                                Status Required
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container ">
                <div style="text-align: center; margin-bottom:20px;">
                    <button class="btn btn-info text-light" [disabled]="customer.invalid"  (click)="UpdateCustomer()">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>