<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> City</h1>
        <h4>Kindly enter the Credentials</h4>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">

    <div class="col-auto border">
        <form [formGroup]="city">
            <table class="table table-striped p-4">
                <tbody>
                    <tr>
                        <th class="border" scope="row">State</th>
                        <td class="">
                            <select name="Status" formControlName="state">
                                <option value="Active">Maharastra</option>
                                <option value="Inactive">Gujrat</option>
                            </select>
                            <span style="color: red;" *ngIf="State && State.invalid && State.touched">State Required</span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">City</th>
                        <td><input type="text" formControlName="cityname">
                            <span style="color: red;" *ngIf="CityName && CityName.invalid && CityName.touched">City Name Required</span>
                       
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Status</th>
                        <td class="">
                            <select name="Status" formControlName="status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched">City Name Required</span>
                       
                        </td>
                    </tr>
                </tbody>


            </table>
        </form>
        <button class="btn btn-danger" [disabled]="city.invalid">Add</button>

    </div>
</div>