<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1>View Insurance Account Details</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Acc. No.</th>
                <th scope="col">Insurance Type</th>
                <th scope="col">Insurance Scheme</th>
                <th scope="col">Date created</th>
                <th scope="col">Date maturity</th>
                <th scope="col">Policy Term</th>
                <th scope="col">Total Premium Amount</th>
                <th scope="col">Profit Ratio</th>
                <th scope="col">Sum assured</th>
                               
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let insuranceAccount of insuranceAccountsList">
                <td>{{insuranceAccount.customerName}}</td>
                <td>{{insuranceAccount.accountNumber}}</td>
                <td>{{insuranceAccount.insuranceType}}</td>
                <td>{{insuranceAccount.insuranceScheme}}</td> 
                <td>{{insuranceAccount.dateCreated}}</td> 
                <td>{{insuranceAccount.maturityDate}}</td> 
                <td>{{insuranceAccount.numberOfYears}}</td> 
                <td>{{insuranceAccount.investmentAmount}}</td> 
                <td>{{insuranceAccount.profitRatio}}</td> 
                <td>{{insuranceAccount.totalAmount}}</td> 
              
            </tr>
            <tr class="">

                <td></td>
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th class="font-weight-bold">Total </th>
                <th class="font-weight-bold">{{totalRs}}</th>                               
            </tr>

        </tbody>
    </table>
</div>


