<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1>View Insurance Account Details</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Acc. No.</th>
                <th scope="col">Insurance Type</th>
                <th scope="col">Insurance Scheme</th>
                <th scope="col">Date created</th>
                <th scope="col">Date maturity</th>
                <th scope="col">Policy Term</th>
                <th scope="col">Total Premium Amount</th>
                <th scope="col">Profit Ratio</th>
                <th scope="col">Sum assured</th>
                <th scope="col">View</th>                
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td>Aniket</td>
                <td>7</td>
                <td>Protection Plan</td>
                <td>Health plus Life Insurance</td> 
                <td>15/06/2022</td> 
                <td>15/06/2024</td> 
                <td>2</td> 
                <td>100000</td> 
                <td>6</td> 
                <td>106000</td> 
                <td><a href="" style="color: red;">View More</a></td>
            </tr>
            <tr class="">

                <td></td>
                <td></td>
                <td></td>
                <td></td> 
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th class="font-weight-bold">Total </th>
                <th class="font-weight-bold">Rs. 106000</th>                               
            </tr>

        </tbody>
    </table>
</div>

