<div class="container col-md-6 align-items-center p-4 text-center mt-5"
    style="border-top-left-radius: 30px;border-top-right-radius: 20px; background-color: #f5f5f5;">
    <p class="text-center h1 fw-bold ">Change Password</p>

    <form [formGroup]="updatePasswordForm">

        <div class="row">
            <label for="" class="form-label">Old Password</label>
            <input type="password" class="form-control" formControlName="oldPassword">
            <span style="color: red;"
                *ngIf="OldPassword && OldPassword.invalid && OldPassword.touched">Password
                Required</span>
        </div>
        <div class="row">
            <label for="" class="form-label">New Password</label>
            <input type="password" class="form-control" formControlName="newPassword">
                        <span style="color: red;" *ngIf="NewPassword && NewPassword.invalid && NewPassword.touched">New
                            Password
                            Required</span>
        </div>
        <div class="row">
            <label for="" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmNewPassword">
                        <span style="color: red;"
                            *ngIf="ConfirmNewPassword && ConfirmNewPassword.invalid && ConfirmNewPassword.touched">Confirm
                            Password
                            Required</span>
        </div>

        <div class="text-center">
            <button class="btn btn-info text-light mt-4" [disabled]="updatePasswordForm.invalid" (click)="UpdatePassword()">Change
                Password</button>
        </div>

    </form>
</div>