<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1>Insurance Details</h1>
        <p>kindly Confirm before making Payment</p>
        <p class="text-danger">NOTE : Don't refresh the page till transaction success</p>
    </div>
</div>
<div></div>

<div class="container">
    <form [formGroup]="planDetailsForm" #f="ngForm">
        <table class="table p-4 table-striped">
            <tbody>
                <tr>
                    <th class="border" scope="row">Customer Name : </th>
                    <td> <input type="text" readonly class="form-control" formControlName="customerName">


                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Insurance Type</th>
                    <td> <input type="text" readonly class="form-control" formControlName="insuranceType">


                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Insurance Scheme</th>
                    <td class="">
                        <input type="text" readonly class="form-control" formControlName="insuranceScheme">

                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">No. Of Years </th>
                    <td class="">
                        <input type="text" class="form-control" readonly formControlName="numberOfYears">

                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" class="" scope="row">Profit Ratio (in %)</th>
                    <td> <input type="text" class="form-control" readonly formControlName="profitRatio">


                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Total Investment Amount</th>
                    <td>
                        <input type="text" class="form-control" readonly formControlName="investmentAmount">
                    </td>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <th class="border" class="" scope="row">Premium Type</th>
                    <td class="">
                        <input type="text" class="form-control" readonly formControlName="premiumType">

                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Installment Amount</th>
                    <td class="">
                        <input type="text" class="form-control" readonly formControlName="installmentAmount">
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Total Amount</th>
                    <td class="">
                        <input type="text" class="form-control" readonly formControlName="totalAmount">

                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Date Created</th>
                    <td class="">
                        <input type="text" class="form-control" readonly formControlName="dateCreated">

                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th class="border" scope="row">Maturity Date</th>
                    <td class="">
                        <input type="text" class="form-control" readonly formControlName="maturityDate">

                    </td>
                </tr>
            </tbody>




           
        </table>
    </form>
    <div class="container text-center">
        <a>
            <button class="btn btn-danger" (click)="onSubmit(f)">Click Here to processed</button>
        </a>
    </div>
</div>