<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1> Editing Insurance Plan</h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">
    <div class="col-auto border col-md-6">
        <form [formGroup]="insurancePlan">
            <table class="table table-striped p-4">
                <tbody>
                    <tr>
                        <th class="border" scope="row">Insurance Type</th>
                        <td><select class="form-control" formControlName="insuranceType" (change)="GenerateInsuranceSchemesList($event.target)">
                                <option value="">Select Insurance Type</option>
                                <option value="{{insuranceType.insuranceName}}"
                                    *ngFor="let insuranceType of insuranceTypesList">{{insuranceType.insuranceName}}
                                </option>
                            </select>
                            <span style="color: red;"
                                *ngIf="InsuranceType && InsuranceType.invalid && InsuranceType.touched">Insurance Type
                                Required
                            </span>
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Insurance Scheme</th>
                        <td><select  class="form-control" formControlName="insuranceScheme">
                                
                                <option  value="{{insuranceScheme.insuranceSchemeName}}"
                                    *ngFor="let insuranceScheme of insuranceSchemesList">
                                    {{insuranceScheme.insuranceSchemeName}}</option>
                            </select>
                            <span style="color: red;"
                                *ngIf="InsuranceScheme && InsuranceScheme.invalid && InsuranceScheme.touched">Insurance
                                Scheme
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th class="border" scope="row">Insurance Plan Name : </th>
                        <td><input type="text" class="form-control" formControlName="insurancePlanName">
                            <span style="color: red;"
                                *ngIf="InsurancePlan && InsurancePlan.invalid && InsurancePlan.touched">Insurance Plan
                                Is
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Policy Term</th>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Minimum Years : </th>
                        <td><input type="text" class="form-control" formControlName="minimumYears">
                            <span style="color: red;"
                                *ngIf="MinimumYears && MinimumYears.invalid && MinimumYears.touched">Minimum Years
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Maximum Years : </th>
                        <td><input type="text" class="form-control" formControlName="maximumYears">
                            <span style="color: red;"
                                *ngIf="MaximumYears && MaximumYears.invalid && MaximumYears.touched">Maximum Years
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th class="border" scope="row">Age</th>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Minimum Age : </th>
                        <td><input type="text" class="form-control" formControlName="minimumAge">
                            <span style="color: red;"
                                *ngIf="MinimumAge && MinimumAge.invalid && MinimumAge.touched">Minimum Age
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Maximum Age : </th>
                        <td><input type="text" class="form-control" formControlName="maximumAge">
                            <span style="color: red;"
                                *ngIf="MaximumAge && MaximumAge.invalid && MaximumAge.touched">Maximum Age
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>


                <tbody>
                    <tr>
                        <th class="border" scope="row">Total Investment Amount</th>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Minimum Invest Amount : </th>
                        <td><input type="text" class="form-control" formControlName="minimumInvestAmt">
                            <span style="color: red;"
                                *ngIf="MinimumInvestAmt && MinimumInvestAmt.invalid && MinimumInvestAmt.touched">Minimum
                                Invest Amount
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Maximum Invest Amount : </th>
                        <td><input type="text" class="form-control" formControlName="maximumInvestAmt">
                            <span style="color: red;"
                                *ngIf="MaximumInvestAmt && MaximumInvestAmt.invalid && MaximumInvestAmt.touched">Maximum
                                Invest Amount
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <th class="border" scope="row">Profit Ratio : </th>
                        <td><input type="text" class="form-control" formControlName="profitRatio">
                            <span style="color: red;"
                                *ngIf="ProfitRatio && ProfitRatio.invalid && ProfitRatio.touched">Profit Ratio
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Status : </th>
                        <td><select name="Status" class="form-control" formControlName="status">
                                <option value="Active">Active</option>
                                <option value="InActive">InActive</option>
                            </select>
                            <span style="color: red;" *ngIf="Status && Status.invalid && Status.touched">Status Is
                                Required
                            </span>
                        </td>
                    </tr>
                </tbody>


            </table>
            <div class="container ">
                <div style="text-align: center; margin-bottom:20px;">
                    <button class="btn btn-danger" [disabled]="insurancePlan.invalid" (click)="UpdateInsurancePlan()">Submit</button>
                </div>
            </div>

        </form>


    </div>
</div>