<div class="container ">
    <div style="text-align: center; margin-bottom:20px;">
        <h1>Agent Profile</h1>
    </div>
</div>
<div></div>
<div class="row justify-content-center me-2">

    <div class="container">
        <form >
            <table class="table table-striped p-4">
                <tbody>
                    <tr>
                        <th class="border" scope="row">Name : </th>
                        <td><input readonly type="text" class="form-control" formControlName="name">
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Login Id : </th>
                        <td><input readonly type="text" class="form-control" formControlName="loginId" >
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Email</th>
                        <td><input readonly type="text" class="form-control"  formControlName="email">
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">User Roll : </th>
                        <td><input readonly type="text" class="form-control"  formControlName="userRoll">
                            
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="border" scope="row">Status : </th>
                        <td><input readonly type="text" class="form-control"  formControlName="userStatus">
                            
                        </td>

                    </tr>
                </tbody>
                
            </table>
        </form>
    </div>
</div>
 

